<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGOL</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script defer src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script defer th:src="@{js/script.js}" type="text/javascript"></script>
    <script defer th:src="@{js/stars.js}" type="text/javascript"></script>
    <script defer th:src="@{js/webSocket.js}" type="text/javascript"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="sidebar">
            <!-- <div class="table">
                <div class="active-barrels">
                    <h1>Active Barrels</h1>
                    <div class="barrel">Barrel_1</div>
                    <div class="barrel">Barrel_2</div>
                    <div class="barrel">Barrel_3</div>
                </div>
                <div class="separator"></div>
                <div class="response-times">
                    <h1>Response Times</h1>
                    <div class="response-time">100 ms</div>
                    <div class="response-time">120 ms</div>
                    <div class="response-time">90 ms</div>
                </div>
            </div> -->
            <div class="faq"> 
                <div class="top-searches">
                    <h1>Top 10 Searches</h1>
                </div>
            </div>
        </div>
        <div class="searches-page active">
            <form th:action="@{/search}" method="get" class="search-bar">
                <input type="text" class="search-input" placeholder="Search something" th:name="q" th:value="${query}">
                <button>
                    <i class='bx bx-search' type="submit"></i>
                </button>
            </form>
            <ul class="search-results">
                <li th:each="site : ${sites}" class="search-item">
                    <h3 th:text="${site.title}"></h3>
                    <p th:text="${site.url}"></p>
                    <p th:text="${site.description}"></p>
                    <div th:each="subsite : ${site.pagesThatContain}">
                        <p th:text="${subsite.url}"></p>
                    </div>
                </li>
            </ul>
            <!--add styles for this-->
            <p th:if="${resultNotFound}">No results found</p>
            <div class="pagination">
                <form th:action="@{/search}" method="get">
                    <input type="hidden" th:name="q" th:value="${query}">
                    <input type="hidden" th:name="page" th:value="${prevPage}">
                    <button th:if="${canGoBack}" type="submit">
                        <i class="bx bx-chevron-left" id="left-arrow"></i>
                    </button>
                </form>
                <form th:action="@{/search}" method="get">
                    <input type="hidden" th:name="q" th:value="${query}">
                    <input type="hidden" th:name="page" th:value="${nextPage}">
                    <button th:if="${canGoForward}" type="submit">
                        <i class="bx bx-chevron-right" id="right-arrow"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="background">
            <div class="stars-group"></div>
            <div class="aurora-gradient"></div>
        </div>
    </div>
</body>
</html>
